<div class="row">
    <div class="col-md-6 offset-3">
         <h1 class="text-info">Error Happend</h1>
    <hr />
    <a class="btn btn-success" asp-action="Index" asp-controller="Movies">Go Home</a>
    </div>
   
</div>